.about {
    background: $color-cadet-blue;
    color: $color-deep-purple;

}

.about__wrapper {

}

.about__title {
    @extend %title-100;
    line-height: 1;
    width: 130rem;
    text-align: center;
    margin: auto;

    @include media('<=phone'){
        max-width: 70rem;
    }
}
