.about__content {
    display: flex;
    justify-content: center;
    margin: 20rem auto;
    position: relative;

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.about__content__wrapper {
    display: flex;

    .about__content--right & {
        flex-direction: row-reverse;
    }
}

.about__content__box {
    display: flex;
}

.about__content__label {
    width: 18rem;
}

.about__content__description {
    width: 37rem;
}

.about__content__media {
}

.about__content__media__image {

}
