.about__content {
    display: flex;
    justify-content: center;
    margin: 20rem auto;
    position: relative;


    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }

    &:nth-child(5) {
        justify-content: flex-end;
    }

    &:nth-child(8) {
        justify-content: flex-start !important;
    }

    @include media('<=phone'){
        &:nth-child(5) {
            justify-content: flex-end;
        }

        &:nth-child(8) {
            justify-content: flex-start !important;
        }
    }

}

.about__content__wrapper {
    display: flex;

    .about__content--left & {
        @include media('<=phone') {
            flex-direction: column-reverse;
        }
    }

    .about__content--right & {
        flex-direction: row-reverse;

        @include media('<=phone') {
            flex-direction: column-reverse;

             &.about__content__media {
                width: 100%;
            }
        }
    }

    @include media('<=phone') {
        width: 100%;
        .about__content:nth-child(3) & {
            flex-direction: column-reverse;
        }

        .about__content:nth-child(5) & {
            flex-direction: column;
        }
    }
}

.about__content__box {
    display: flex;

    @include media('<=phone'){
        padding: 7.3rem;
        width: 75rem;

        .about__content:nth-child(3) & {
            margin-top: 0;
        }
    }
}

.about__content__label {
    @extend %description-12;

    width: 18rem;
    text-transform: uppercase;

    @include media ('<=phone') {
        width: 13.5rem;
        word-wrap: break-word;
    }
}

.about__content__description {
    width: 36.2rem;

    p:not(:first-child) {
        margin-top: 1.6rem;
    }

    @include media('<=phone'){
        padding-left: 3.2rem;
        width: 100%;
    }
}

.about__content__media {
    position: relative;

    .about__content:nth-child(3) & {
        margin-left: 18rem;
        height: 80.8rem;
        width: 53.8rem;
    }

    .about__content:nth-child(5) & {
        height: 60rem;
        margin-left: 18rem;
        width: 96rem;
    }

    .about__content:nth-child(8) & {
        height: 52rem;
        // margin-left: 84.2rem;
        margin-right: 12rem;
        width: 84.2rem;

        @include media('<=phone') { width: 75rem; }
    }

    .about__content:nth-child(9) & {
        height: 85.8rem;
        margin-left: 24rem;
        width: 60.8rem;

        @include media('<=phone'){
            margin-left: 0;
            justify-content: center;
            width: 60.8rem;
            margin: 0 7.1rem;
        }
    }

    @include media('<=phone'){
        .about__content:nth-child(3) & {
            height: 91.4rem;
            margin: auto;
            
        }

        .about__content:nth-child(5) & {
            height: 50rem;
            margin-left: 0;
            padding: 8rem;
            width: 75rem;
        }
    }
}

.about__content__media__image {
    @extend %cover;
    object-fit: cover;
    height: auto;
}
