block variables

doctype html
html(lang="en")
	head 
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")

		base(href="/")

		title Floema
		meta(name="description" content="Floema beautiful jewelry.")
		//- colocar as meta tag tudo

		link(href="main.css" rel="stylesheet" type="text/css" media="screen")

	body
		include partials/preloader
		include partials/navigation

		.content#content(data-template=template)
			block content
