%description {
    &-12 {
        font-size: 1.2rem;
    }

    &-14 {
        font-size: 1.4rem;
    }

    &-16 {
        font-size: 1.6rem;
        line-height: 1.5;
        letter-spacing: 0.03rem;
    }
}
