%title {
    &-20 {
        font-family: $font-george-x;
        font-size: 2rem;
    }

    &-30 {
        font-family: $font-george-x;
        font-size: 3rem;
    }

    &-53 {
        font-size: 5.3rem;
        font-family: $font-george-x;
    }

    &-60 {
        font-size: 6rem;
        font-family: $font-george-x;
    }

    &-100 {
        font-family: $font-george-x;
        font-size: 10rem;
    }
    
    &-120 {
        font-family: $font-george-x;
        font-size: 12rem;
        line-height: 0.82;
    }

    &-200 {
        font-family: $font-george-x;
        font-size: 20rem;
    }
}
