*, *:after, *:before {
    box-sizing: border-box;
}

html {
    font-size: calc(100vw / 2000 * 10);
    line-height: 1;
    //cálculo para que o tamanho do texto acompanhe a largura da tela
}

body {
    @extend %description-16;
    font-family: $font-suisse-bp;
    font-weight: 300;
}

a {
    color: inherit;
    outline: none;
    text-decoration: none;
}

img {
    vertical-align: middle;
}

//reset button

button {
    background: none;
    border: none;
    color: inherit;
    outline: none;
    cursor: pointer;
}
